* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.contentArea {
    height: 100%;
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 0.375rem;
}

#logo {
    display: flex;
    align-items: center;
    padding: 5px;
}

#logo img {
    width: 3rem;
}

.sectionLogo {
    display: flex;
    align-items: center;
    padding: 5px;
}

.sectionLogo img {
    width: 2rem;
    aspect-ratio: 1/1;
}

#addTask {
    display: flex;
    justify-content: center;
}

#taskName {
    width: 40%;
    height: 3rem;
    border-radius: 0.5rem;
    margin: 10px;
    padding: 5px;
    font-size: 1.5rem;
}

#submit {
    background: #f70004;
    width: 100px;
    height: 3rem;
    margin: 10px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

#taskDescription {
    display: flex;
    justify-content: center;
}

#description {
    height: 45px;
    width: 500px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 5px;
}

#toDo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 25%));
    min-height: 200px;
}

#completed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 25%));
    min-height: 200px;
}

.card {
    background: #e8e8e8;
    height: 200px;
    margin: 10px;
    color: rgb(0, 0, 0);
    position: relative;
}

.card input {
    margin: 10px;
    height: 1.5rem;
    width: 1.5rem;
}

.card h3 {
    display: inline;
    font-size: 2rem;
    /* margin: auto; */
}

.card span {
    font-size: 2rem;
    position: absolute;
    right: 7px;
}

.card span:hover {
    cursor: pointer;
}

.card p {
    font-size: 1.5rem;
    margin: auto;
}

.completed h3 {
    text-decoration: line-through;
}